compose:
  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.warnings
      fallback: []
    out:
      warningsList: resolved

  - call: lcod://tooling/value/is_object@0.1.0
    in:
      value: $.resolverConfig
    out:
      resolverHasConfig: ok

  - call: lcod://impl/set@1
    in:
      baseConfigRaw: {}
    out:
      baseConfigRaw: baseConfigRaw

  - call: lcod://flow/if@1
    in:
      cond: $.resolverHasConfig
    out:
      baseConfigRaw: baseConfigRaw
    slots:
      then:
        - call: lcod://impl/set@1
          in:
            baseConfigRaw: $.resolverConfig
          out:
            baseConfigRaw: baseConfigRaw
      else:
        - call: lcod://tooling/value/is_object@0.1.0
          in:
            value: $.config
          out:
            configHasObject: ok
        - call: lcod://flow/if@1
          in:
            cond: $.configHasObject
          out:
            baseConfigRaw: baseConfigRaw
          slots:
            then:
              - call: lcod://impl/set@1
                in:
                  baseConfigRaw: $.config
                out:
                  baseConfigRaw: baseConfigRaw

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.baseConfigRaw
    out:
      baseConfig: resolved

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.baseConfig.sources
    out:
      sourcesObject: resolved

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.baseConfig.replace
    out:
      replaceObject: resolved

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.baseConfig.tooling
    out:
      toolingConfig: resolved

  - call: lcod://tooling/value/default_object@0.1.0
    in:
      value: $.baseConfig.registry
    out:
      registryConfig: resolved

  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.baseConfig.allowlist
    out:
      allowlistRaw: resolved

  - call: lcod://impl/set@1
    in:
      allowlist: null
    out:
      allowlist: allowlist

  - call: lcod://tooling/value/is_array@0.1.0
    in:
      value: $.baseConfig.allowlist
    out:
      allowlistIsArray: ok

  - call: lcod://impl/set@1
    in:
      allowlistValues: []
    out:
      allowlistValues: allowlistValues

  - call: lcod://flow/if@1
    in:
      cond: $.allowlistIsArray
    out:
      allowlist: allowlist
    slots:
      then:
        - call: lcod://flow/foreach@1
          in:
            list: $.allowlistRaw
          slots:
            body:
              - call: lcod://contract/core/string/format@1
                in:
                  template: "{value}"
                  values:
                    value: $slot.item
                out:
                  formattedAllow: value
              - call: lcod://contract/core/string/trim@1
                in:
                  text: $.formattedAllow
                out:
                  trimmedAllow: value
              - call: lcod://tooling/value/is_string_nonempty@0.1.0
                in:
                  value: $.trimmedAllow
                out:
                  trimmedAllowValid: ok
              - call: lcod://flow/if@1
                in:
                  cond: $.trimmedAllowValid
                slots:
                  then:
                    - call: lcod://tooling/array/append@0.1.0
                      in:
                        items: $.allowlistValues
                        values:
                          - $.trimmedAllow
                      out:
                        allowlistValues: items
        - call: lcod://contract/core/array/length@1
          in:
            items: $.allowlistValues
          out:
            allowlistLength: length
        - call: lcod://flow/if@1
          in:
            cond: $.allowlistLength
          out:
            allowlist: allowlist
          slots:
            then:
              - call: lcod://impl/set@1
                in:
                  allowlist: $.allowlistValues
                out:
                  allowlist: allowlist
  - call: lcod://impl/set@1
    in:
      replaceAlias: {}
      replaceSpec: {}
    out:
      replaceAlias: replaceAlias
      replaceSpec: replaceSpec

  - call: lcod://tooling/object/entries@0.1.0
    in:
      value: $.replaceObject
    out:
      replaceEntries: entries

  - call: lcod://flow/foreach@1
    in:
      list: $.replaceEntries
    slots:
      body:
        - call: lcod://impl/set@1
          in:
            replaceKey: $slot.item[0]
            replaceValue: $slot.item[1]
          out:
            replaceKey: replaceKey
            replaceValue: replaceValue
        - call: lcod://tooling/value/is_string_nonempty@0.1.0
          in:
            value: $.replaceKey
          out:
            replaceKeyValid: ok
        - call: lcod://flow/if@1
          in:
            cond: $.replaceKeyValid
          slots:
            then:
              - call: lcod://flow/try@1
                slots:
                  body:
                    - call: lcod://contract/core/string/trim@1
                      in:
                        text: $.replaceValue
                      out:
                        replaceValueTrimmed: value
                    - call: lcod://contract/core/object/set@1
                      in:
                        object: $.replaceAlias
                        path:
                          - $.replaceKey
                        value: $.replaceValue
                        clone: false
                      out:
                        replaceAlias: object
                  catch:
                    - call: lcod://tooling/value/is_object@0.1.0
                      in:
                        value: $.replaceValue
                      out:
                        replaceValueObject: ok
                    - call: lcod://flow/if@1
                      in:
                        cond: $.replaceValueObject
                      slots:
                        then:
                          - call: lcod://contract/core/object/set@1
                            in:
                              object: $.replaceSpec
                              path:
                                - $.replaceKey
                              value: $.replaceValue
                              clone: false
                            out:
                              replaceSpec: object
  - call: lcod://impl/set@1
    in:
      specRoot: null
    out:
      specRoot: specRoot

  - call: lcod://tooling/value/is_string_nonempty@0.1.0
    in:
      value: $.toolingConfig.specRoot
    out:
      configSpecHas: ok
  - call: lcod://flow/if@1
    in:
      cond: $.configSpecHas
    out:
      specRoot: specRoot
    slots:
      then:
        - call: lcod://contract/core/string/trim@1
          in:
            text: $.toolingConfig.specRoot
          out:
            configSpecRoot: value
        - call: lcod://impl/set@1
          in:
            specRoot: $.configSpecRoot
          out:
            specRoot: specRoot
      else:
        - call: lcod://contract/core/env/get@1
          in:
            name: "SPEC_REPO_PATH"
          out:
            envSpec: value
        - call: lcod://tooling/value/is_string_nonempty@0.1.0
          in:
            value: $.envSpec.value
          out:
            envSpecHas: ok
        - call: lcod://flow/if@1
          in:
            cond: $.envSpecHas
          out:
            specRoot: specRoot
          slots:
            then:
              - call: lcod://contract/core/string/trim@1
                in:
                  text: $.envSpec.value
                out:
                  envSpecRoot: value
              - call: lcod://impl/set@1
                in:
                  specRoot: $.envSpecRoot
                out:
                  specRoot: specRoot
  - call: lcod://tooling/value/default_array@0.1.0
    in:
      value: $.registryConfig.sources
    out:
      registrySourcesRaw: resolved

  - call: lcod://contract/core/array/length@1
    in:
      items: $.registrySourcesRaw
    out:
      registrySourcesRawCount: length
  - call: lcod://impl/set@1
    in:
      registrySources: []
    out:
      registrySources: registrySources

  - call: lcod://tooling/value/is_array@0.1.0
    in:
      value: $.registryConfig.sources
    out:
      registrySourcesIsArray: ok

  - call: lcod://flow/if@1
    in:
      cond: $.registrySourcesIsArray
    slots:
      then:
        - call: lcod://contract/tooling/registry/normalize_sources@1
          in:
            entries: $.registrySourcesRaw
          out:
            normalizedRegistrySources: entries
            registrySourceWarningsRaw: warnings
        - call: lcod://tooling/value/default_array@0.1.0
          in:
            value: $.registrySourceWarningsRaw
            fallback: []
          out:
            registrySourceWarnings: resolved
        - call: lcod://tooling/array/append@0.1.0
          in:
            items: $.warningsList
            values: $.registrySourceWarnings
          out:
            warningsList: items
        - call: lcod://impl/set@1
          in:
            registrySources: $.normalizedRegistrySources
          out:
            registrySources: registrySources

  - call: lcod://impl/set@1
    in:
      normalizedConfig:
        sources: $.sourcesObject
        replaceAlias: $.replaceAlias
        replaceSpec: $.replaceSpec
        allowlist: $.allowlist
        registrySources: $.registrySources
        specRoot: $.specRoot
    out:
      normalizedConfig: normalizedConfig

  - call: lcod://contract/core/array/length@1
    in:
      items: $.registrySources
    out:
      registrySourcesCount: length
  - call: lcod://impl/set@1
    in:
      warnings: $.warningsList
    out:
      warnings: warnings
